@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", serif;
}

body{
    background-color: #d9d9d9;
}

header{
    background-color: #284b63;
    padding: 2rem 1rem;
}

main{
    padding: 4rem 6rem;
    background-color: #ffffff;
}

.main-title{
    justify-self: center;
    color: #ffffff;
    margin-bottom: 2rem;

}

.link-collection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10rem;
}

.link-collection > li{
    list-style-type: none;
}   

.link-collection > li > a{
    text-decoration: none;
    color: #ffffff;

}

.link-collection > li > a:hover{
    text-decoration: underline;
    margin-bottom: .3rem;
}


footer{
    background-color: #284b63;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 10rem;
    color: #ffffff;
}